@tinybird:registry=https://gitlab.com/api/v4/projects/6576720/packages/npm/
//gitlab.com/api/v4/projects/6576720/packages/npm/:_authToken="${NPM_TOKEN}"
//gitlab.com/api/v4/projects/:_authToken="${NPM_TOKEN}"