@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@tinybird/ui/styles.css';
@tinybird tokens;

@layer base {
  :root {
    --primary-color: #1fcc83;
    --background-03-color: #f9f9f9;
    --background-04-color: #f7f7f7;
    --background-05-color: #eefaff;
    --darkblue-01-color: #28607d;

    --jse-theme-color: var(--primary-color) !important;
    --jse-main-border: 1px solid #d6d4df !important;
  }

  html,
  body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-03-color);
    color: var(--neutral-100-color);
  }
}

@layer components {
  .preview {
    background: var(--background-04-color);
    border: 0.8px solid rgba(48, 40, 96, 0.2);
    box-shadow: inset 0px -0.9px 0px rgba(0, 0, 0, 0.1);
    @apply h-[326px] overflow-y-auto p-4 whitespace-pre-wrap text-tb-neutral-64 rounded-md;
  }
}
